### Problems on Looping Statements

In [3]:
# Read the number as Input and print the output as follows
# 123   -- Three Two One
# 1889  -- Nine Eight Eight One
n = int(input())
while n!=0:
    r = n % 10
    if r == 0 :
        print('Zero')
    elif r == 1 :
        print('One',end = ' ')
    elif r == 2:
        print('Two',end = ' ')
    elif r == 3:
        print('Three',end = ' ')
    elif r == 4:
        print('Four',end = ' ')
    elif r == 5:
        print('Five',end = ' ')
    elif r == 6:
        print('Six',end = ' ')
    elif r == 7:
        print('Seven',end = ' ')
    elif r == 8:
        print('Eight',end = ' ')
    elif r == 9:
        print('Nine',end = ' ')
    n = n // 10

1234567899871
One Seven Eight Nine Nine Eight Seven Six Five Four Three Two One

In [5]:
# x = 10
# y = 20
x,y = 10,20
print(x,y)

10 20

In [7]:
# Read the Number as input and Print the output as follows
# 12341218  -- <1,8>
# 7801791298 -- <0,9>
# You need print Least and Large digit of the given number
x = int(input())
largeDigit,smallDigit  = 0,9
while x != 0 :
    r = x % 10
    if r > largeDigit :
        largeDigit = r
    if r < smallDigit:
        smallDigit = r
    x = x // 10
print('<',smallDigit,',',largeDigit,'>')

178262
< 1 , 8 >

In [13]:
# Read the Number N as input and Print the output as Palindrome or not a Palidrome
n = int(input())
rev,buffer = 0 , n
while n != 0 :
    r = n % 10
    rev = (rev*10) + r
    n = n // 10
if buffer == rev:
    print('Palindrome')
else:
    print('Not a Palindrome')

121
Palindrome

In [ ]:
### for loop
for <localVar> in <objectName>:
    Statements

In [10]:
for i in range(5):
    print(i,end = ' ')

0 1 2 3 4

In [12]:
for i in range(1,11):
    print(i,end = ' ')

1 2 3 4 5 6 7 8 9 10

In [15]:
for i in range(10,40,2):
    print(i,end = ' ')

10 12 14 16 18 20 22 24 26 28 30 32 34 36 38

In [16]:
for i in range(10,50,5):
    print(i,end = ' ')

10 15 20 25 30 35 40 45

In [17]:
for i in range(10,0,-1):
    print(i,end = ' ')

10 9 8 7 6 5 4 3 2 1

In [ ]:
for i in range(-22,-10,1):
    print(i,end = ' ')

### Data Structures in Python
- List
- Tuple
- Dict
- Set

#### Data Structure : 
- Store the data in particular object
- It will makes several operations will becomes simple
    - Sorting
    - Searching
    - Store

### List in Python
- It's common data structure in python for storage
- List can be enclosed with in square brackets []
- Every List Item will be seperated from the comma operator ,
- List can of same type or else different type

In [19]:
li = [1,2,3,4,5]
print(li)

[1, 2, 3, 4, 5]

In [20]:
x = [1990,'Python','Machine learning',189.012]
print(x)

[1990, 'Python', 'Machine learning', 189.012]

In [21]:
# Print the List object data by using for loop
for i in range(len(li)):
    print(li[i],end = ' ')

1 2 3 4 5

In [22]:
print(x[2])

Machine learning

In [23]:
# Update the list object data
x[2] = 'Data Science'

In [24]:
print(x[2])

Data Science

In [25]:
# Delete the list object data
del x[2]

In [26]:
print(x)

[1990, 'Python', 189.012]

In [27]:
# Add the new list item
x[3] = 'Programming'

IndexError: list assignment index out of range

In [28]:
# List Slicing
# List fwd index will start from 0
# List rev index will start from -1
li

[1, 2, 3, 4, 5]

In [29]:
li[0:3] # Start will be 0 and end index will be 3

[1, 2, 3]

In [31]:
li[1:] # Start will be 1 and no end index

[2, 3, 4, 5]

In [32]:
li[1:-2]

[2, 3]

In [36]:
li[-4:-1]

[2, 3, 4]

In [41]:
# Functions of List Object
print(len(li)) # Gives the count of list items
print(max(li)) # Gives the Maximum item of the list
print(min(li)) # Gives the minimum item of the list
print(sum(li)) # Gives the sum of the list items
print(sum(li)//len(li)) # Gives the output as Avg of the list
print(li*2)

5
5
1
15
3
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [44]:
# Methods of List Object
# append() - Will insert the new list item at the end of the list
li.append(-10)

In [46]:
li.append(11)

In [47]:
li

[1, 2, 3, 4, 5, -10, 11]

In [48]:
# insert(Par1,Par2)
# Par1 - Index
# Par2 - List item value
# Inserts the list value at particular Position
li.insert(2,99)

In [51]:
li.insert(4,199)

In [52]:
li

[1, 2, 99, 3, 199, 4, 5, -10, 11]